body {
    background-color:FloralWhite;
}
h1 {
    text-align:center;
}
.head1 {
    background-color:cadetblue;
    color:white;
}
#head2 {
    background-color:beige;
    color:dodgerblue;
}

.upper-content {
    background-color: antiquewhite;
}
.footer{
    background-color: blanchedalmond;
}
.foo{
    background-color: darkolivegreen;
}
div a {
    padding: 20px;
}
 a > h1{
    background-color: blue;
    color:chartreuse;
}
a + a{
    background-color: whitesmoke;
}

a:link {
    color: blue;
}

p:hover{
    color:darkorchid;
    font-weight:bold;
}

p:first-child {
    font-weight: bold;
}

div:last-of-type {
    background-color: #f2f2f2;
}


p::before {
    content: ">> ";
    font-weight: bold;
 }
p::after {
    content: " <<";
    font-weight: bold;
}

p::selection{
    background-color:aliceblue;
    color:darkorchid;
}

h1::first-letter {
    font-size: 150%;
    color: rgb(128, 0, 0);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.image {
    transition: width 5s; /* Transition for width property */
    cursor: pointer;
}

.image:hover {
    width: 800px; /* Change the width on hover */
}

.center {
    text-align: center;
}

.image {
    filter: grayscale(100%);
    filter: brightness(0.5);
}

.image-animated {
    animation: fadeIn 1s ease-in-out;
}
