body {
    background-color:FloralWhite;
}
h1 {
    text-align:center;
}
.head1 {
    background-color:cadetblue;
    color:white;
}
#head2 {
    background-color:beige;
    color:dodgerblue;
}

.upper-content {
    background-color: antiquewhite;
}
.footer{
    background-color: blanchedalmond;
}
.foo{
    background-color: darkolivegreen;
}
div a {
    background-color: aqua;
    padding: 20px;
}
 a > h1{
    background-color: blue;
    color:chartreuse;
}
a + a{
    background-color: whitesmoke;
}
