body {
    background-color:FloralWhite;
}
h1 {
    text-align:center;
}
.head1 {
    background-color:cadetblue;
    color:white;
}
#head2 {
    background-color:beige;
    color:dodgerblue;
}

.upper-content {
    background-color: antiquewhite;
}
.footer{
    background-color: blanchedalmond;
}
.foo{
    background-color: darkolivegreen;
}
div a {
    padding: 20px;
}
 a > h1{
    background-color: blue;
    color:chartreuse;
}
a + a{
    background-color: whitesmoke;
}

a:link {
    color: blue;
}

p:hover{
    color:darkorchid;
    font-weight:bold;
}

p:first-child {
    font-weight: bold;
}

div:last-of-type {
    background-color: #f2f2f2;
}


p::before {
    content: ">> ";
    font-weight: bold;
 }
p::after {
    content: " <<";
    font-weight: bold;
}

p::selection{
    background-color:aliceblue;
    color:darkorchid;
}

h1::first-letter {
    font-size: 150%;
    color: rgb(128, 0, 0);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.image {
    transition: width 5s; /* Transition for width property */
    cursor: pointer;
}

.image:hover {
    width: 800px; /* Change the width on hover */
}

.center {
    text-align: center;
}

.image {
    filter: grayscale(100%);
    filter: brightness(0.5);
}

.image-animated {
    animation: fadeIn 1s ease-in-out;
}
p:hoverØ§{
    color:green;
    font-weight: bold;
}
p::before{
    content: 'Hello,';
    color: red;
    font-weight: bold;
}
p::after{
    content: ' Bye!';
    color:red;
    font-weight: bold;
}
p::selection{
    background-color: purple;
    color:white;
}
.visible
{
   visibility: visible;
}
.hidden {
  visibility: hidden;
}
.op_1{
    opacity: 1;
}
.op_0{
    opacity: 0;
}
.op_05 {
   opacity: 0.5;
}
.none {
    display: none;
    font-weight: bold;
}
.inline{
  display:inline;
  font-weight:bold;
}
.block{
    display: block;
    font-weight: bold;
}
h3{
    background-color: aquamarine;
    text-align: center;
}
*{
  padding:0;
  margin:0;
}
.nav{
  background:rgb(253,185,185);
  height:20px;
  padding:10px;
  text-align: center;
  margin-bottom: 10px;
}
.banner{
  background-color:aqua;
  height:200px;
}
.content{
  background-color:rgb(246,213,213);
  height:400px;
}
.footer{
  background-color:rgb(37,27,27);
  height:20px;
  width:100px;
}
img{
  width:100%;
  filter:grayscale(100%) invert(100%);
}
