
body {
    background-color:Darkgreen ;
}
h1 {
    text-align: center;
}
.head1 {
    background-color:Royalblue;
    color: white;
}
#head2 {
    background-color: beige;
    color: dodgerblue;
}
h2{text-allign:left;
   color:yellow}
h3{text-allign:left;color:red}
h4{
    text-allign:left;color:darkorange}
h5{text-allign:left;color:beige}
h6{text-allign:left;color:Royalblue}

